{% extends 'base.html' %}
{% load static %}
{% block main_block %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">

<!-- Hero Banner Section -->
<div class="gallery-hero position-relative" data-aos="fade-down">
    <img src="{% static 'images/head-image.jpeg' %}" alt="About Us" class="w-100 img-fluid">
    <div class="hero-overlay d-flex align-items-center justify-content-center">
        <h1 class="text-white text-center">Gallery</h1>
    </div>
</div>

<!-- Video Gallery Section -->
<div class="container py-5">
    <div class="row mb-5">
        <div class="col-12 text-center mb-4">
            <h2 class="section-title">Featured Videos</h2>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <!-- Video 1 -->
        <div class="col">
            <div class="video-card h-100" data-aos="fade-up" data-aos-delay="100">
                <div class="ratio ratio-16x9 video-container mb-3">
                    <iframe src="https://www.youtube.com/embed/u-JyI_saGvs?si=rIBtroSjTatFbVTp" 
                        title="YouTube video player" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        allowfullscreen>
                    </iframe>
                </div>
                <h5 class="video-title">Kidney Stone</h5>
            </div>
        </div>
        
        <!-- Video 2 -->
        <div class="col">
            <div class="video-card h-100" data-aos="fade-up" data-aos-delay="200">
                <div class="ratio ratio-16x9 video-container mb-3">
                    <iframe src="https://www.youtube.com/embed/Aw4dg2hCKAM?si=lZrCXlOobG3BxQ2w" 
                        title="YouTube video player" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        allowfullscreen>
                    </iframe>
                </div>
                <h5 class="video-title">Peptic Ulcer</h5>
            </div>
        </div>
        
        <!-- Video 3 -->
        <div class="col">
            <div class="video-card h-100" data-aos="fade-up" data-aos-delay="300">
                <div class="ratio ratio-16x9 video-container mb-3">
                    <iframe src="https://www.youtube.com/embed/51VzscXo3Mo?si=l49aGmcyAZo8j6KB" 
                        title="YouTube video player" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        allowfullscreen>
                    </iframe>
                </div>
                <h5 class="video-title">Hyperthyroidism</h5>
            </div>
        </div>
        
        <!-- Video 4 -->
        <div class="col">
            <div class="video-card h-100" data-aos="fade-up" data-aos-delay="100">
                <div class="ratio ratio-16x9 video-container mb-3">
                    <iframe src="https://www.youtube.com/embed/z3K1LStnLU8?si=XlYCrd3qep0192aG" 
                        title="YouTube video player" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        allowfullscreen>
                    </iframe>
                </div>
                <h5 class="video-title">PCOD</h5>
            </div>
        </div>
        
        <!-- Video 5 -->
        <div class="col">
            <div class="video-card h-100" data-aos="fade-up" data-aos-delay="200">
                <div class="ratio ratio-16x9 video-container mb-3">
                    <iframe src="https://www.youtube.com/embed/u-JyI_saGvs?si=rIBtroSjTatFbVTp" 
                        title="YouTube video player" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        allowfullscreen>
                    </iframe>
                </div>
                <h5 class="video-title">Service Benefits</h5>
            </div>
        </div>
        <!-- video 6  -->
        <div class="col">
            <div class="video-card h-100" data-aos="fade-up" data-aos-delay="200">
                <div class="ratio ratio-16x9 video-container mb-3">
                    <iframe src="https://www.youtube.com/embed/u-JyI_saGvs?si=rIBtroSjTatFbVTp" 
                        title="YouTube video player" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        allowfullscreen>
                    </iframe>
                </div>
                <h5 class="video-title">Service Benefits</h5>
            </div>
        </div>
    </div>

    <!-- View More Button -->
    <div class="text-center mt-5">
        <a href="https://youtube.com/@dietlabbypriya3566?si=lvKdqtyj0FEVey-V" class="btn btn-outline-danger rounded-pill px-4 py-2 d-inline-flex align-items-center" target="_blank">
            <i class="fa-brands fa-youtube me-2"></i>
            View More Videos
        </a>
    </div>
    
</div>


{% endblock %}